.main {
  color: #000000;
  background-color: #ffffff;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0px 15px 10px 15px;
}
.content {
  text-align: justify;
  padding: 0 20px;
  font-size: 1.1rem;
  line-height: 1.5;
}

/* phone */
@media (max-width: 475px) {
  .main {
    padding: 7px 0px 10px 0px;
  }
}
