.main {
  padding: 7px 15px 10px 15px;
  color: #fff;
  background-color: #2b2b52;
}
.content {
  text-align: justify;
  padding: 0 20px;
  font-size: 1.3rem;
  line-height: 1.5;
}

/* phone */
@media (max-width: 475px) {
  .main {
    padding: 7px 0px 10px 0px;
  }
}
