.campusActivities {
  margin-top: 60px;
}
.cardContainer {
  /* display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.card {
  line-height: 1.5;
  width: 18rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
  padding-bottom: 11px;
  margin: 20px 0px;
}
.cardImage {
  max-width: 100%;
}
.cardHeader {
  font-size: 17px;
  font-weight: 500;
  padding: 0px 1px;
}
.date {
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
}

/* phone */
@media (max-width: 475px) {
  .cardContainer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }
  .card {
    margin-top: 30px;
  }
}
