.campusActivities {
  margin-top: 60px;
}
.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  line-height: 1.5;
  width: 18rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #cfcfcf;
  padding-bottom: 11px;
  margin: 20px 0px;
}
.cardImage {
  width: 100%;
  border-bottom: 1px solid #76eea7;
}
.date {
  color: #666;
}

/* phone */
@media (max-width: 475px) {
  .cardContainer {
    flex-direction: column;
  }
  .card {
    margin-top: 30px;
  }
}
