.main {
  margin-top: -14px;
  height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mainText {
  font-weight: 400;
  color: #ffffff;
  font-size: 4rem;
  font-style: italic;
  padding: 0px 20px;
  line-height: 5.5rem;
}

@media (max-width: 475px) {
  .mainText {
    font-size: 2rem;
    font-style: italic;
    line-height: 2.8rem;
  }
}
